/*Desarollado por JMMR */

.container {
  background-image: url(../img/fondobatalla.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 98vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



/* Inicio sección jugador 1 */
.player1 {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}
.player1 .title {
  align-self: flex-end;
}
.character1 {
  display: flex;
}
.stats1 {
  margin-left: 1em;
  color: white;
  text-transform: uppercase;
  text-align: end;
}
/* Fin sección jugador 1 */



/* Inicio sección botones y log */
#log-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#log-game h3 {
  color: white;
}
/* Fin sección botones y log */



/* Inicio sección jugador 2 */
.player2 {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}
.player2 .title {
  align-self: flex-start;
}
.character2 {
  display: flex;
}
.stats2 {
  margin-right: 1em;
  color: white;
  text-transform: uppercase;
  text-align: end;
}
/* Fin sección jugador 2 */



/* Inicio comunes para ambos jugadores */
.title {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.progress {
  height: 3em;
  width: 100%;
  background-color: green;
}
.imgC {
  max-width: 200px;
  height: auto;
}
.selectdiv {
  position: relative;
  float: left;
  min-width: 200px;
  margin: 50px 33%;
}
.selectdiv:after {
  content: url(../img/pokeball-icon.png);
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}
.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #fec56629;
  border: 1px solid #fec566;
  outline: none;
  transition: 1s ease-in-out;
}
.btn:hover {
  transition: 1s ease-in-out;
  background: #f64035;
}
.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
/* Fin comunes para ambos jugadores*/



/* Inicio MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
#modalContent h1, h2{
  text-align: center;
}
.close {
  color: #f64035;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Fin MODAL*/